@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #97b3e6;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
h1 {
    font-size: x-large;
    text-align: center;
    margin-bottom: 5px;
}

p{
    text-align: justify;
    
}

div.campo{
    margin: 5px;
    background-color: #97b3e652;
    border-radius: 5px;
}

div.campo >input{
    background-color:#97b3e652; 
    width: auto;
    border: none;
    border-radius: 5px;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    width: 260px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.815) ;

    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;

}

section#login>div#formulario {
    display: block;
    padding: 10px; 

}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #6c39e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #bdc2dde0;
    color:  #6c39e2;
}

form> a.botao{
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #af9ae0;
    color: rgb(0, 30, 128);
    border: none;
    border-radius: 5px;
    cursor: pointer;
 
}

form>a.botao:hover{
    background-color: white;
    color: #af9ae0;

}

form > a.botao> span {
    font-size: 1.1em;

}